<?xml version="1.0" encoding="UTF-8"?>
<projectDescription>
	<name>fan-controller</name>
	<comment></comment>
	<projects>
	</projects>
	<buildSpec>
		<buildCommand>
			<name>org.eclipse.cdt.managedbuilder.core.genmakebuilder</name>
			<arguments>
			</arguments>
		</buildCommand>
		<buildCommand>
			<name>org.eclipse.cdt.managedbuilder.core.ScannerConfigBuilder</name>
			<triggers>full,incremental,</triggers>
			<arguments>
			</arguments>
		</buildCommand>
	</buildSpec>
	<natures>
		<nature>com.ti.ccstudio.core.ccsNature</nature>
		<nature>org.eclipse.cdt.core.cnature</nature>
		<nature>org.eclipse.cdt.managedbuilder.core.managedBuildNature</nature>
		<nature>org.eclipse.cdt.core.ccnature</nature>
		<nature>org.eclipse.cdt.managedbuilder.core.ScannerConfigNature</nature>
	</natures>
	<linkedResources>
		<link>
			<name>F2806x_Headers_nonBIOS.cmd</name>
			<type>1</type>
			<locationURI>$%7BPARENT-5-PROJECT_LOC%7D/drivers/libs/ti/device_support/f2806x/headers/cmd/F2806x_Headers_nonBIOS.cmd</locationURI>
		</link>
		<link>
			<name>board</name>
			<type>2</type>
			<locationURI>$%7BPARENT-5-PROJECT_LOC%7D/board</locationURI>
		</link>
		<link>
			<name>config</name>
			<type>2</type>
			<locationURI>$%7BPARENT-5-PROJECT_LOC%7D/app/fan-controller/fan-controller/config</locationURI>
		</link>
		<link>
			<name>deps</name>
			<type>2</type>
			<locationURI>virtual:/virtual</locationURI>
		</link>
		<link>
			<name>doc</name>
			<type>2</type>
			<locationURI>$%7BPARENT-5-PROJECT_LOC%7D/app/fan-controller/fan-controller/doc</locationURI>
		</link>
		<link>
			<name>inc</name>
			<type>2</type>
			<locationURI>$%7BPARENT-5-PROJECT_LOC%7D/app/fan-controller/fan-controller/inc</locationURI>
		</link>
		<link>
			<name>libs</name>
			<type>2</type>
			<locationURI>$%7BPARENT-5-PROJECT_LOC%7D/app/fan-controller/fan-controller/libs</locationURI>
		</link>
		<link>
			<name>src</name>
			<type>2</type>
			<locationURI>$%7BPARENT-5-PROJECT_LOC%7D/app/fan-controller/fan-controller/src</locationURI>
		</link>
		<link>
			<name>deps/crf</name>
			<type>2</type>
			<locationURI>$%7BPARENT-5-PROJECT_LOC%7D/chsm/crf</locationURI>
		</link>
		<link>
			<name>deps/crf_modules</name>
			<type>2</type>
			<locationURI>$%7BPARENT-5-PROJECT_LOC%7D/chsm/modules</locationURI>
		</link>
		<link>
			<name>deps/drivers</name>
			<type>2</type>
			<locationURI>$%7BPARENT-5-PROJECT_LOC%7D/drivers</locationURI>
		</link>
		<link>
			<name>deps/modules</name>
			<type>2</type>
			<locationURI>$%7BPARENT-5-PROJECT_LOC%7D/modules</locationURI>
		</link>
	</linkedResources>
	<filteredResources>
		<filter>
			<id>1634113481035</id>
			<name></name>
			<type>30</type>
			<matcher>
				<id>org.eclipse.ui.ide.multiFilter</id>
				<arguments>1.0-name-matches-false-false-test</arguments>
			</matcher>
		</filter>
	</filteredResources>
</projectDescription>
