<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://www.netbeans.org/ns/project/1">
    <type>com.microchip.mplab.nbide.embedded.makeproject</type>
    <configuration>
        <data xmlns="http://www.netbeans.org/ns/make-project/1">
            <name>{{cookiecutter.project_name}}</name>
            <creation-uuid>0682ac3f-b2cf-4522-a9a6-a9c05b6ba74f</creation-uuid>
            <make-project-type>0</make-project-type>
            <c-extensions>c</c-extensions>
            <cpp-extensions/>
            <header-extensions>h</header-extensions>
            <asminc-extensions/>
            <sourceEncoding>ISO-8859-1</sourceEncoding>
            <make-dep-projects/>
            <sourceRootList>
                {% for item in cookiecutter.includes %}
                <sourceRootElem>{{item}}</sourceRootElem>
                {% endfor %}

                {% for item in cookiecutter.sources %}
                <sourceRootElem>{{item}}</sourceRootElem>
                {% endfor %}
            </sourceRootList>
            <confList>
                <confElem>
                    <name>default</name>
                    <type>2</type>
                </confElem>
            </confList>
            <formatting>
                <project-formatting-style>false</project-formatting-style>
            </formatting>
        </data>
    </configuration>
</project>
